example1-c-program/src/hello
example1-c-program/config.h

Makefile
aclocal.m4
compile
#config.h.in
#Makefile.in
*.in
install-sh
configure
stamp-h1
depcomp
missing
autom4te.cache
config.status
config.log
.deps
*.o

#/ar-lib
#/mdate-sh
#/py-compile
#/test-driver
#/ylwrap
#/autom4te.cache
#/autoscan.log
#/autoscan-*.log
#/config.guess
#/config.sub
#/configure.scan
#/ltmain.sh
#/texinfo.tex
#m4/libtool.m4
#m4/ltoptions.m4
#m4/ltsugar.m4
#m4/ltversion.m4
#m4/lt~obsolete.m4
